    *{
        box-sizing: border-box;
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
    }


 .container{
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: -50% +200%, +150% -150%;
    background-repeat: no-repeat;
 }

 .card{
    height: 415px;
    width: 390px;
    background-color: hsl(185, 75%, 39%);
    border-radius: 1rem;
    position: absolute;
    box-shadow: -5px 10px 20px 8px #636262;
 }

 .topSection{
    position: relative;
    border-radius: 18px 18px 0 0;
    height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-bottom: solid 1px lightgray;
    background-image: url("../images/bg-pattern-card.svg");
    background-size: 100% 37%;
    background-repeat: no-repeat;

 }


 .proPic{
    position: relative;
    align-self: center;
    border-radius: 10rem;
    margin-bottom: 1.5rem;
 }

 .name{
     position: relative;
     text-align: center;
     margin-bottom: 1rem;
     font-size: 18px;
     font-weight: 900;
     
 }

 .age{
     margin-left: 0.5rem;
     font-size: 18px;
     font-weight: 700;
     color: hsl(0, 0%, 59%);
 }

 .city{
     position: relative;
     text-align: center;
     font-size: 16px;
     font-weight: 700;
     color: hsl(0, 0%, 59%);
 }

 





 .bottomSection{
     position: relative;
     border-radius: 0 0 18px 18px;
     height: 25%;
     background-color: white;
     display: flex;
     justify-content: space-evenly;
 }

 .followers{
     align-self: center;
 }

 #followersCounter{
     font-size: 20px;
     font-weight: 900;
     color: black;
 }

 #followersTag{
     font-size: 12px;
     font-weight: 700;
     color: hsl(0, 0%, 59%);
 }

 .likes{
     align-self: center;
 }

  #likesCounter{
     font-size: 20px;
     font-weight: 900;
     color: black;
 }

 #likesTag{
     font-size: 12px;
     font-weight: 700;
     color: hsl(0, 0%, 59%);
 }

 .post{
     align-self: center;
 }

  #postCounter{
     font-size: 20px;
     font-weight: 900;
     color: black;
 }

 #postTag{
     font-size: 12px;
     font-weight: 700;
     color: hsl(0, 0%, 59%);
 }

 




